
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lato&family=Rubik:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Lato:wght@700&family=Rubik:ital,wght@0,700;1,700&display=swap');


/*FONT PROPERTY*/
//font-family: "Lato", serif;
// font-family: "Rubik", serif;
//font-family: "Josefin Sans", serif;

$lato: "Lato", serif;
$rubik: "Rubik", serif;
$josefin: "Josefin Sans", serif;
$font-regular: 400;
$font-bold: 700; 